<div class="row">
    <h2> Lista de Chamadas </h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Data da Chamada</th>
            <th>Identificador da Turma</th>
            <th>Professor Responsável</th>
            <th>Nome do Curso</th>
            <th>Nome do Aluno</th>
            <th>Presença do Aluno</th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chamada of chamadas">
            <td>{{ chamada.id.dt_chamada | customDate }}</td>
            <td>{{ chamada.turma.id }}</td>
            <td>{{ chamada.turma.professor.nome}}</td>
            <td>{{ chamada.turma.curso.nome_curso}}</td>
            <td>{{ chamada.aluno.nome}}</td>
            <td>{{ chamada.presenca}}</td>
            <td style="text-align: center;">
                <button mat-raised-button color="primary" (click)="updateChamada(chamada.id.turmaId, chamada.id.alunoId, chamada.id.dt_chamada)">Atualizar</button>
                <button mat-raised-button color="warn" (click)="deleteChamada(chamada.naturalId)">Deletar</button>
                <button mat-raised-button (click)="chamadaDetails(chamada.id.turmaId, chamada.id.alunoId, chamada.id.dt_chamada)">Visualizar</button>
            </td>
        </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <button mat-button color="primary" (click)="createChamadas()">Cadastrar Chamada</button>
</div>