<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Realizar Chamada </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Selecionar a Turma</label>
                        <br>
                        <p-dropdown [options]="turmas" [(ngModel)]="chamada.turma" optionLabel="nome_turma" name="nome"
                            (onClick)="show()" (onChange)="desCheckar()"></p-dropdown>
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Selecionar a Data da Chamada</label>
                        <br>
                        <p-calendar [(ngModel)]="dt_chamada" [showTime]="true" [showIcon]="true"
                            name="dt_chamada"></p-calendar>
                    </div>
                    <br>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nome do Aluno</th>
                                <th>CPF</th>
                                <th style="text-align: center;">Presença</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aluno of alunos">
                                <ng-container *ngIf="verificacao(aluno.id)">
                                    <td>{{ aluno.nome }}</td>
                                    <td>{{ aluno.cpf }}</td>
                                    <td style="text-align: center;">
                                        <p-dropdown [options]="presencas" [(ngModel)]="aluno.presenca"
                                            name="presenca"></p-dropdown>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
                <button class="btn btn-success" type="submit" (click)="showids()">Submit</button>
            </div>
        </div>
    </div>
</div>