<div class="fade-in-image div-botoes">
    <div class="container">
        <div class="row" style="font-size: 30px; color: #427ECC; ">
            <div class="col-sm">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    style="width: 300px; height: 300px;" (click)="goToRealizarCadastro()">
                    <mat-icon>people</mat-icon>
                </button>
                <p>Cadastrar Alunos</p>
            </div>
            <div class="col-sm">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    style="width: 300px; height: 300px;" (click)="goToChamadas()">
                    <mat-icon>checklist</mat-icon>
                    <a routerLink="chamadas" routerLinkActive="active"></a>
                </button>
                <p>Listas de Chamada</p>
            </div>
            <div class="col-sm">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    style="width: 300px; height: 300px;" (click)="goToRealizarChamada()">
                    <mat-icon>edit_calendar</mat-icon>

                </button>
                <p>Realizar Chamada </p>
            </div>
        </div>
    </div>


</div>