<div class="row">
    <h2> Lista de Cursos </h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Carga Horária Total</th>
            <th>Carga Horária Diária</th>
            <th>Data de Início</th>
            <th>Data de Finalização</th>
            <th>Dias de Curso</th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos">
            <td>{{ curso.nome_curso }}</td>
            <td>{{ curso.descricao_curso.length>30?( curso.descricao_curso | slice:0:30)+'...':(curso.descricao_curso) }}</td>
            <td>{{ curso.carga_horaria}}</td>
            <td>{{ curso.carga_horaria_diaria }}</td>
            <td>{{ curso.dt_inicio | customDate }}</td>
            <td>{{ curso.dt_final | customDate }}</td>
            <td>{{ curso.dias_de_curso }}</td>
            <td style="text-align: center;">
                <button mat-raised-button color="primary" (click)="updateCurso(curso.id)">Atualizar</button>
                <button mat-raised-button color="warn" (click)="deleteCurso(curso.id)">Deletar</button>
                <button mat-raised-button (click)="cursoDetails(curso.id)">Visualizar</button>
            </td>
        </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <button mat-button color="primary" (click)="createCurso()">Cadastrar Curso</button>
</div>