<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="alunos" routerLinkActive="active" class="nav-link">Lista de alunos</a>
        </li>
        <li class="nav-item">
            <a routerLink="professores" routerLinkActive="active" class="nav-link">Lista de professores</a>
        </li>
        <li class="nav-item">
            <a routerLink="cursos" routerLinkActive="active" class="nav-link">Lista de Cursos</a>
        </li>
        <li class="nav-item">
            <a routerLink="turmas" routerLinkActive="active" class="nav-link">Lista de Turmas</a>
        </li>
        <li class="nav-item">
            <a routerLink="chamadas" routerLinkActive="active" class="nav-link">Lista de Chamadas</a>
        </li>
        
    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span></span>
    </div>
</footer>