<nav class="navbar navbar-expand-sm navbar-dark"
    style="background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(76,190,232,1) 85%, rgba(76,89,162,1) 100%); margin-left: 10px;">
    <ul class="navbar-nav" style="text-align: left;">
        <img src="assets/img/funtec.png" a routerLink = "blocos">

    </ul>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark" style="background:#244878">
</nav>
<nav class="navbar navbar-expand-sm navbar-dark" style="background:#427ECC">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="alunos" routerLinkActive="active" class="nav-link">Lista de alunos</a>
        </li>
        <li class="nav-item">
            <a routerLink="professores" routerLinkActive="active" class="nav-link">Lista de professores</a>
        </li>
        <li class="nav-item">
            <a routerLink="cursos" routerLinkActive="active" class="nav-link">Lista de Cursos</a>
        </li>
        <li class="nav-item">
            <a routerLink="turmas" routerLinkActive="active" class="nav-link">Lista de Turmas</a>
        </li>
        <li class="nav-item">
            <a routerLink="chamada-options" routerLinkActive="active" class="nav-link">Lista de Chamadas</a>
        </li>

    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span></span>
    </div>
</footer>