<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Atualizar Turma </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Selecionar o Curso</label>
                        <br>
                        <p-dropdown [options]="cursos" [(ngModel)]="turma.curso" optionLabel="nome_curso"
                            name="cursos"></p-dropdown>
                    </div>

                    <div class="form-group">
                        <label> Selecionar o Professor</label>
                        <br>
                        <p-dropdown [options]="professores" [(ngModel)]="turma.professor" optionLabel="nome"
                            name="professores"></p-dropdown>
                    </div>


                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>