<div class="row" style="margin-top: 35px;">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h2 class="text-center"> Atualizar Turma </h2>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Selecionar o Curso</label>
                        <br>
                        <p-dropdown [options]="cursos" [(ngModel)]="turma.curso" optionLabel="nome_curso"
                            name="cursos"></p-dropdown>
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Selecionar o Professor</label>
                        <br>
                        <p-dropdown [options]="professores" [(ngModel)]="turma.professor" optionLabel="nome"
                            name="professores"></p-dropdown>
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Nome de Identificação da turma</label>
                        <input type="text" class="form-control" id="nome_turma" [(ngModel)]="turma.nome_turma"
                            name="nome_turma">
                    </div>


                    <br />
                    <div style="float: right">
                        <button class="btn btn-success" type="submit"
                            style="background-color: rgba(29,112,183,1); border-color: rgba(29,112,183,1);">Atualizar
                            Turma</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>