<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Cadastrar Chamada </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Selecionar a Turma</label>
                        <br>
                        <p-dropdown [options]="turmas" [(ngModel)]="chamada.turma" optionLabel="id"
                            name="turmas"></p-dropdown>
                    </div>

                    <div class="form-group">
                        <label> Selecionar o Aluno</label>
                        <br>
                        <p-dropdown [options]="alunos" [(ngModel)]="chamada.aluno" optionLabel="nome"
                            name="alunos"></p-dropdown>
                    </div>

                    <div class="form-group">
                        <label> Selecionar a Data da Chamada</label>
                        <br>
                        <p-calendar [(ngModel)]="chamada.id.dt_chamada" [showTime]="true" [showIcon]="true"
                            name="dt_chamada"></p-calendar>
                    </div>

                    <div class="form-group">
                        <label> Selecionar a Presença do Aluno</label>
                        <br>
                        <p-inputNumber [(ngModel)]="chamada.presenca" inputId="minmax" [min]=0 [max]=5 name="presenca">
                        </p-inputNumber>
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>