<div class="row" style="margin-top: 35px;">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h2 class="text-center"> Atualizar Chamada </h2>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Selecionar a Turma</label>
                        <br>
                        <p-dropdown [options]="turmas" [(ngModel)]="chamada.turma" optionLabel="nome_turma" (onClick)="
                            show()" name="turmas" [disabled]="true"></p-dropdown>
                    </div>

                    <div class="form-group">
                        <label> Selecionar o Aluno</label>
                        <br>
                        <p-dropdown [options]="alunos" [(ngModel)]="chamada.aluno" optionLabel="nome" name="alunos"
                            [disabled]="true"></p-dropdown>
                    </div>

                    <div class="form-group">
                        <label> Selecionar a Data da Chamada</label>
                        <br>
                        <p-calendar [(ngModel)]="id.dt_chamada" [showTime]="true" [showIcon]="true" name="dt_chamada"
                            dateFormat="dd/mm/yy" [disabled]="true"></p-calendar>
                    </div>

                    <div class="form-group">
                        <label> Selecionar a Presença do Aluno</label>
                        <br>
                        <p-inputNumber [(ngModel)]="chamada.presenca" inputId="minmax" [min]=0 [max]=5 name="presenca">
                        </p-inputNumber>
                    </div>

                    <br />
                    <div style="float: right;">
                        <button class="btn btn-success" type="submit"
                            style="background-color: rgba(29,112,183,1); border-color: rgba(29,112,183,1);">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>