<div class="row" style="margin-top: 35px;">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h2 class="text-center"> Cadastrar Aluno </h2>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="aluno.nome" name="nome">
                    </div>
                    <br>
                    <div class="form-group">
                        <label> CPF</label>
                        <input type="text" class="form-control" id="cpf" [(ngModel)]="aluno.cpf" name="cpf"
                            maxlength="11" minlength="11" placeholder="12312312310">
                        <p style="padding-left: 10px; opacity: 50%;">Favor digitar somente os numeros do CPF</p>
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Data de Nascimento</label>
                        <br>
                        <p-calendar #calendario [(ngModel)]="aluno.dt_nascimento" dateFormat="dd/mm/yy"
                            [showIcon]="true" name="dt_chamada"></p-calendar>
                    </div>

                    <br />
                    <div style="float: right;">
                        <button class="btn btn-success" type="submit"
                            style="background-color: rgba(29,112,183,1); border-color: rgba(29,112,183,1);">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>