<div class="row" style="margin-top: 35px;">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h2 class="text-center"> Atualizar Professor </h2>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nome </label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="professor.nome" name="nome">
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Email </label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="professor.email" name="email">
                    </div>
                    <br/>
                    <div style="float:right">
                    <button class="btn btn-success" type="submit" style="background-color: rgba(29,112,183,1); border-color: rgba(29,112,183,1);">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>