<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Atualizar Aluno </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nome </label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="aluno.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label> CPF </label>
                        <input type="text" class="form-control" id="cpf" [(ngModel)]="aluno.cpf"
                            name="cpf">
                    </div>

                    <div class="form-group">
                        <label> Data de Nascimento</label>
                            <input matInput [matDatepicker]="picker" class="form-control" id="dt_nascimento" [(ngModel)]="aluno.dt_nascimento"
                            name="dt_nascimento">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
